<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Restaurant</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
        <form (ngSubmit)="onSubmit()">
            <br>
        <div class="form-group">
            <b><label >Restaurant Name<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="Enter restaurant name" required name="restoName"[(ngModel)]="restaurant.restaurantName" class="form-control"/>
        </div>
        <div class="form-group">
            <b><label >Address<span style="color: red;">*</span></label></b>
            <textarea placeholder="enter address" class="form-control" name="Address" [(ngModel)]="restaurant.address"></textarea>
        </div>
        <div class="form-group">
            <b><label >Contact Number<span style="color: red;">*</span></label></b>
            <input type="text" placeholder="Enter phone no." name="phone"class="form-control" [(ngModel)]="restaurant.phoneNo">
        </div>
        <div class="form-group">
            <b><label >Open Time</label></b>
            <ngb-timepicker  name="openTime" [(ngModel)]="open_time"></ngb-timepicker>
        </div>
        <div class="form-group">
            <b><label >Close Time</label></b>
            <ngb-timepicker  name="closeTime" [(ngModel)]="close_time"></ngb-timepicker>
        </div>
        <strong>Upload Menu</strong>
        <div>
            <img [src]="url" height="100px" width="100px"/> &nbsp;
            <input type="file" name="imageName" (change)="onChange($event)" style="width: 210px;"/><br>
            <span style="color: red;">*Image size should be less than 1 MB</span>
            <br><br>
            <button type="button" class="btn btn-primary" (click)="updateImage()" translate="">Upload</button>
        </div>
        <div class="alert alert-success" *ngIf="isSubmitted===true">
            <strong>Menu Uploaded Successfully !!!</strong>
          </div>
        <br/>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="margin-right: 200px;">Update</button>
        </div>
    </form>
    <br/>
</div>