<div class="alert alert-success" *ngIf="component==='DeleteRestaurantComponent'">
    <strong>Restaurant Deleted Successfully !!!</strong>
</div>


  <div class="alert alert-success" *ngIf="component==='UpdateRestaurantComponent'">
    <strong>Restaurant Updated Successfully !!!</strong>
  </div>

  <div class="alert alert-success" *ngIf="component==='RestaurantListComponent'">
    <strong>Restaurant Status Changed Successfully !!!</strong>
</div>

<div class="alert alert-success" *ngIf="dialog===true">
    <strong>Restaurant Added Successfully !!!</strong>
</div>

<div class="alert alert-success" *ngIf="component==='DeleteUserComponent'">
  <strong>User Deleted Successfully !!!</strong>
</div>

<div class="alert alert-success" *ngIf="component==='UserDetailComponent'">
  <strong>User Role Changed Successfully !!!</strong>
</div>

<div class="alert alert-success" *ngIf="component==='RestaurantDetailsComponent'">
  <strong>You Need to login first !!!</strong>
</div>